*, *::after, *::before {
  box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: Ubuntu, Montserrat, Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
