<script>
  import wordlist from "./wordlist.js";
  let word = wordlist[Math.floor(Math.random() * wordlist.length)];
  // let word = 'title';
  let attemptCount = 0;
  let gameWon = false;
  let currentGuess = "";
  let guesses = [];
  let guessObj = {};
  let alphabet = "abcdefghijklmnopqrstuvwxyz".split("");
  let alphaColors = Array(26);

  const handleGuess = () => {
		let targetCounts = {};
    let target = word.split("");
		target.map(letter => {
			targetCounts[letter] = targetCounts[letter] ? targetCounts[letter] + 1 : 1;
		});
		let greens = [];
		let greenCounts = {};
    currentGuess = currentGuess.toLowerCase();
		currentGuess.split("").map((letter, index) => {
			if (letter == target[index]) {
				greens.push(letter);
			}
		});
		greens.map(letter => {
			greenCounts[letter] = greenCounts[letter] ? greenCounts[letter] + 1 : 1;
		});

		guessObj = currentGuess.split("").map((letter, index) => {
      let tmpColor;
      if (letter == target[index]) {
        tmpColor = "green";
        alphaColors[alphabet.indexOf(letter)] = "green";
      } else if (target.includes(letter)) {
				if(greens.includes(letter) && greenCounts[letter] <= targetCounts[letter]) {
				} else {
					tmpColor = "yellow";
          if(alphaColors[alphabet.indexOf(letter)] != "green") {
            alphaColors[alphabet.indexOf(letter)] = "yellow";
          }
				}
      } else {
        tmpColor = "gray";
        alphaColors[alphabet.indexOf(letter)] = "gray";
      }
      return {
        letter: letter,
        color: tmpColor
      };
    });
    console.log(guessObj);
    gameWon = guessObj.map(i => i.color).length && guessObj.map((i) => i.color).every((x) => x == "green");
    guesses[attemptCount] = guessObj;
    currentGuess = "";
    attemptCount++;
  };

  const replay = () => {
    word = wordlist[Math.floor(Math.random() * wordlist.length)];
    attemptCount = 0;
    gameWon = false;
    currentGuess = "";
    guessObj = {};
    guesses = [];
    alphaColors = Array(26);
  };
</script>
<main>
  <div class="info">
    <h1>WORD PUZZLE <span style="display:none;">[{word}]</span></h1>
  </div>
  <div class="lettergrid">
    {#each guesses as g}
    {#each g as l}
    <span class="letter {l.color}">{l.letter}</span>
    {/each}
    {/each}
    <span class="letter">{currentGuess[0] || "_"}</span>
    <span class="letter">{currentGuess[1] || "_"}</span>
    <span class="letter">{currentGuess[2] || "_"}</span>
    <span class="letter">{currentGuess[3] || "_"}</span>
    <span class="letter">{currentGuess[4] || "_"}</span>
    <!-- {#each currentGuess.split("") as letter}
    {/each} -->
  </div>
  {#if gameWon}
    <div class="info">
      <h1>Nice! You found the word <span class="found">{word}</span> in {attemptCount} tries.</h1>
    </div>
  {/if}
  <form on:submit|preventDefault={handleGuess}>
    <input
      type="text"
      maxlength="5"
      autofocus
      placeholder="Guess a word"
      on:keydown={(e) => {
        // console.log(e.key, e.keyCode);
        if (e.key === "ArrowUp") {
          currentGuess = guesses[attemptCount - 1].map(l => l.letter).join("");
        }
      }}
      bind:value={currentGuess}
    />
    {#if gameWon}
      <button on:click|preventDefault={replay}>Play again</button>
    {/if}
  </form>
  <div class="alphagrid">
    {#each alphabet as a, i}
      <span class="letter {alphaColors[i]}">{a}</span>
    {/each}
  </div>
  <div class="info">
    <p>
      <span class="letter green pad">A</span> In the word and in the right spot.<br />
      <span class="letter yellow pad">B</span> In the word, but in the wrong spot.<br />
      <span class="letter gray pad">C</span> NOT in the word.
    </p>
    <p>
      <a href="https://bitbucket.org/tkroo/wordpuzzle">source code</a>
    </p>
  </div>
</main>

<style>
  :root {
    --green: rgb(56, 114, 56);
    --yellow: #cfad14;
    --gray: #626262;
    --gray2: #222;
  }
  /* :global(body) { */
    /* background-color: #121212; */
    /* color: #fff; */
  /* } */
  main {
    max-width: 100%;
    margin: 0 auto;
    padding: 0.5em 1em;
  }
  @media  (min-width: 480px) {
    main {
      max-width: 24rem;
    }
  }
  .info {
    min-height: 80px;
    font-size: 0.8rem;
    line-height: 2;
  }
  .lettergrid,
  .alphagrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .letter {
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid var(--gray2);
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.15rem;
    line-height: 1;
    text-transform: uppercase;
    /* aspect-ratio: 1/1; */
  }
  .yellow {
    /* background-color: rgb(255, 217, 0); */
    background-color: var(--yellow);
  }
  .green {
    background-color: var(--green);
  }
  .gray {
    /* background-color: rgb(110, 110, 110); */
    background-color: var(--gray);
  }
  .alphagrid .gray {
    opacity: 0.6;
  }

  .pad {
    font-weight: bold;
    padding: 0.1rem 0.4rem;
  }

  form {
    margin: 1em 0;
  }
  button {
    font-size: 20px;
    border-radius: 0.25rem;
    border: 1px solid var(--green);
    background: var(--green);
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;
    margin-left: 1rem;
  }
  input {
    text-transform: uppercase;
    width: 40%;
  }
  .found {
    color:var(--green);
    text-transform: uppercase;
  }
</style>
